h1 {
  font-size: 42px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 27px;
}

li {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li:first-letter {
  text-transform: capitalize;
}

.current-temperature {
  font-size: 42px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dfdfe3;
  border-radius: 5px;
  background-image: url(/Users/ilzerieba/Desktop/Coding/Git/shecodes_vanilla_weather_app/files/app_background.JPG);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.search-box {
  border: 1.5px solid #858585;
  margin: 5px 10px auto;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  color: #858585;
}

.search-button {
  border: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  color: #858585;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.current-date-time {
  font-size: 10px;
}

.current-icon {
  filter: grayscale(30%);
  vertical-align: top;
}

.current-celsius-temp {
  font-size: 16px;
  vertical-align: 20px;
  margin-left: 2px;
  font-weight: 600;
  margin-top: 3px;
}

.current-conditions {
  font-size: 14px;
  color: #424242;
  padding-top: 57px;
  padding-left: 50px;
}

.weather-forecast {
  background-color: white;
  text-align: center;
  font-size: 12px;
}

.weather-forecast-details {
  margin-top: -60px;
}

.spacing {
  padding-top: 50px;
}

.weather-forecast-day {
  font-weight: bold;
}

.weather-forecast-temperature-max {
  font-weight: 500;
}

.weather-forecast-temperature-min {
  font-weight: 500;
  color: #858585;
}

.forecast-icon {
  position: relative;
  left: -30px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.footnote {
  font-size: 10px;
  padding-top: 10px;
  color: #adadaf;
  padding-left: 30px;
}
